.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

button, .button {
    color: $black;
    font-family: $headingFont;
    background-color: $accent;
    border: 2px solid $accent;
    padding: 10px 30px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 3.2rem;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: transparent;
    }
    &:focus {
        background-color: transparent;
    }
}

nav a {
    &:hover {
        color: $solidWhite;
    }
    &:focus {
        color: $solidWhite;
    }
}

.itemsLink i {
    background-color: $lightBlueGrey;
    padding: 20px;
    border-radius: 50%;
    border: 2px solid $lightBlueGrey;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: transparent;
    }
    &:focus {
        background-color: transparent;
    }
}

.recentPosts a {
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        color: $lightBlueGrey;
    }
    &:focus {
        color: $lightBlueGrey;
    }
}

.contact .icons a{
    color: $duskBlue;
    font-size: 3rem;
    padding: 10px 40px 20px 0;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        color: $lightBlueGrey;
    }

    &:focus {
        color: $lightBlueGrey;
    }
}