.blog header {
    background-image: url(../assets/blog-image-1.jpg);
    background-size: cover;
    padding-top: 300px;

    h2 {
        position: relative;
        bottom: 50px;
    }
}

.blog main {
    background-color: $whiteShade;
    padding-top: 100px;
}

.blog main .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
    .sideBar {
        width: 32%;

        .aboutHarper {
            background-color: $solidWhite;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 40px;

            .contentContainer {
                margin-top: 20px;
                margin-bottom: -5px;

                p {
                    margin: 20px 0 0 0 ;
                }
            }
        }

        .recentPosts {
            background-color: $solidWhite;
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            padding: 40px;

            ul {
                list-style-type: disc;
                padding: 30px 0 0 0;
                line-height: 3.2rem;
                margin-left: 30px;
            }
        }
    }

    .blogContent {
        width: 65%;

        article {
            background-color: $solidWhite;
            padding: 40px 40px 80px 40px;
            border-bottom: 5px solid $duskBlue;

            span {
                display: block;
                margin: 15px 0;
            }
        }

        .commentOne {
            background-color: $solidWhite;
            padding: 40px;
            margin-top: 40px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;


            p {
                margin: 0 0 0 15px;

                span {
                    display: block;
                }
            }
        }

        .commentTwo {
            background-color: $solidWhite;
            padding: 40px;
            margin-top: 40px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            border-bottom: 5px solid $duskBlue;
            p {
                margin: 0 0 0 15px;

                span {
                    display: block;
                }
            }

        }
    }

}
