.contact header {
    background-image: url(../assets/contact-image-1.jpg);
    background-size: cover;
    padding-top: 300px;

    h2 {
        position: relative;
        bottom: 50px;
    }
}


.contact main {
    background-color: $whiteShade;
    padding: 100px 0 80px;
    margin-bottom: -20px;
}

.contact main .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .sideBar {
        width: 32%;

        section {
            background-color: $solidWhite;
            display: flex;
            flex-direction: column;
            padding: 40px;
            justify-content: center;

            .icons {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                }
            }

            .content p {
                margin: 25px 0 0;

                span {
                    display: block;
                }
            }
            
        }
    }

    .contactContent {
        width: 65%;

        .contactForm {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 40px 0;
        
                .userInfo {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
        
                    input {
                        width: 49%;
                        border: none;
                        padding: 25px;
        
                        .name {
                            margin-right: 2px;
                        }
        
                        .email {
                            margin-left: 2px;
                        }
                    }
                }
        
                textarea {
                    width: 100%;
                    margin: 20px 0;
                    border: none;
                    resize: none;
                    padding: 25px;
                }
        
                button {
                    width: 100%;
                }

        }
    }      