// site fonts
$headingFont: 'Oswald', sans-serif;
$bodyFont: 'Cabin', sans-serif;

// set root element font-size to 62.5% so 1 rem is 10px
$baseFontSize: 1rem;

// site colours
$black: #171717;
$whiteShade: #f6f6f6;
$lightBlueGrey: #b9dde7;
$greyBlue: #68b0c1;
$duskBlue: #227284;
$accent: #f38d8d;
$solidWhite: #ffffff;




