html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 67.5%;
}

body {
  font-family: "Cabin", sans-serif;
  font-size: 2rem;
  color: #171717;
}

h1, h2, h3, h4, nav, button {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: #171717;
  margin: 0;
}

h1 {
  font-size: 4.2rem;
  letter-spacing: 1px;
}

h2 {
  font-size: 8rem;
  line-height: 9.2rem;
  letter-spacing: 1px;
}

header h2 {
  font-size: 13.5rem;
}

h3 {
  font-size: 4.2rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 3.2rem;
  letter-spacing: 1px;
}

h5 {
  font-size: 2.4rem;
  letter-spacing: 1px;
}

nav {
  font-size: 2rem;
  text-align: right;
  line-height: 2.9rem;
  letter-spacing: 1px;
}

p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 0px;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

button, .button {
  color: #171717;
  background-color: #f38d8d;
  border: 2px solid #f38d8d;
  padding: 10px 30px;
  font-size: 2rem;
  font-weight: bold;
  line-height: 3.2rem;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover, .button:hover {
  background-color: transparent;
}
button:focus, .button:focus {
  background-color: transparent;
}

nav a:hover {
  color: #ffffff;
}
nav a:focus {
  color: #ffffff;
}

.itemsLink i {
  background-color: #b9dde7;
  padding: 20px;
  border-radius: 50%;
  border: 2px solid #b9dde7;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.itemsLink i:hover {
  background-color: transparent;
}
.itemsLink i:focus {
  background-color: transparent;
}

.navBar {
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: #b9dde7;
  padding: 30px;
}
.navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navBar li {
  padding: 0 36px;
}

header {
  background-color: #b9dde7;
  padding-top: 40px;
  margin-bottom: -90px;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header .imgContainer {
  width: 40%;
}
header .imgContainer img {
  max-width: 100%;
  -webkit-box-shadow: 15px 15px #ffffff;
          box-shadow: 15px 15px #ffffff;
}
header .content {
  width: 60%;
  padding-left: 90px;
  margin-top: -90px;
}
header .content img {
  z-index: 10px;
  position: absolute;
  padding-left: 370px;
  padding-bottom: 100px;
}

.whosHarper {
  background-color: #f6f6f6;
  padding: 150px 0;
}
.whosHarper .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.whosHarper .blank {
  width: 40%;
}
.whosHarper .content {
  width: 60%;
  padding-left: 90px;
}
.whosHarper .content .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.whosHarper .content .contentContainer p {
  margin: 36px 0;
}

.bannerImg {
  margin-bottom: -5px;
}
.bannerImg img {
  width: 100vw;
}

.categories {
  background-color: #f6f6f6;
  padding: 120px 0 100px 0;
  margin-bottom: 100px;
}

.categoryQuad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.categoryQuad .items {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 40px;
  padding: 0 15px 0 15px;
}
.categoryQuad .items .icon {
  width: 15%;
}
.categoryQuad .items .content {
  width: 85%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 15px;
}
.categoryQuad .items .content p {
  padding-top: 10px;
}

.harpersTravels {
  background-color: transparent;
  margin-top: -140px;
  margin-bottom: 80px;
}
.harpersTravels .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.harpersTravels .imgContainer {
  width: 50%;
}
.harpersTravels .imgContainer img {
  width: 100%;
  -webkit-box-shadow: 15px 15px #68b0c1, -100px 15px #68b0c1, -300px 15px #68b0c1, -600px 15px #68b0c1, -900px 15px #68b0c1;
          box-shadow: 15px 15px #68b0c1, -100px 15px #68b0c1, -300px 15px #68b0c1, -600px 15px #68b0c1, -900px 15px #68b0c1;
}
.harpersTravels .content {
  width: 50%;
  padding: 0 0 0 80px;
  margin-bottom: -10px;
}
.harpersTravels .content .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.favouriteThings {
  background-color: transparent;
  margin-bottom: -35px;
}
.favouriteThings .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.favouriteThings .imgContainer {
  width: 50%;
}
.favouriteThings .imgContainer img {
  width: 100%;
  -webkit-box-shadow: 15px 15px #b9dde7, 100px 15px #b9dde7, 300px 15px #b9dde7, 600px 15px #b9dde7, 900px 15px #b9dde7;
          box-shadow: 15px 15px #b9dde7, 100px 15px #b9dde7, 300px 15px #b9dde7, 600px 15px #b9dde7, 900px 15px #b9dde7;
}
.favouriteThings .content {
  width: 50%;
  padding: 0 80px 0 0;
}
.favouriteThings .content .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.favouriteThings .content .contentContainer .contentTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.harpersJourney {
  background-color: #f6f6f6;
  padding: 155px 0 120px 0;
}
.harpersJourney .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.harpersJourney .imgContainer {
  width: 25%;
}
.harpersJourney .imgContainer img {
  -webkit-box-shadow: 15px 15px #227284;
          box-shadow: 15px 15px #227284;
}
.harpersJourney .content {
  width: 75%;
  padding: 0 0 0 80px;
}
.harpersJourney .content .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.harpersJourney .content .contentContainer p {
  margin: 15px 0 30px 0;
}

.gallery {
  background-color: #ffffff;
  padding: 100px 0;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  color: #ffffff;
  background-color: #171717;
  text-align: center;
  margin-bottom: -25px;
}
footer p {
  padding: 5px 0;
}